<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Points - Example</title>
</head>
<body>
    <div class="output">

        <h1>Login</h1>
        <p><input type="text" placeholder="name"></input></p>
        <p><input type="text" placeholder="username"></input></p>
        <p><input type="text" placeholder="password"></input></p>
        <p><button type="submit">Submit</button></p>
    </div>
</body>
</html>