<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Points - Home</title>
    <style>
        *{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .output{
            display: block;
            width: 90%;
            margin: auto;
            height: 200px;
            background-color: beige;
            padding: 20px 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="output">

        <h1>Welcome, {{user}}</h1>

    </div>
</body>
</html>