<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .output{
            width: 100%;
            height: 300px;
            border: 1px black solid;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="output">
        {{dump}}

    </div>

    <form> 
        <input type="text" placeholder="put input here"></input>
        <button id="submit-btn" type="submit">Submit</button>
    </form>

    <script>
     
        $('#submit-btn').click(sendData);

        function sendData(event){
            event.preventDefault();
            alert("button clicked");
        }
    </script>
</body>
</html>